.card-container {
    display: flex;
    gap: 16px; 
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 16px;
}

/*columnas */
.card-container.column {
    flex-direction: column;
}

/*filas */
.card-container.row {
    flex-direction: row;
}
